<%= erb :nav_bar %>
<div class="container">
  <header class="header">
      <ol class="breadcrumb" style="display: inline-block;">
        <li class="breadcrumb-item"><a href="/menu">Home</a></li>
        <li class="breadcrumb-item active">
          食品一覧
        </li>
      </ol>
  </header><!-- .header -->
</div><!-- .container -->

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>食品名</th>
        <th>数量</th>
        <th>カテゴリー</th>
        <th>賞味期限</th>
        <th>機能</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <th scope="row"><%= food.name %></th>
          <td><%= food.total_number %></td>
          <td><%= food.category %></td>
          <td><%= food.last_best_before_date %></td>
          <td>
            <a class="" href="/details/edit/<%= food.id %>">詳細</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <a href="/food/new" class="btn btn-primary" role="button">食品追加</a>
</div><!-- .container -->
